<app-toolbar></app-toolbar>
<mat-card class="card">
  <mat-card-content>
    <h3>Checkbox configuration</h3>
    <mat-divider></mat-divider>
    <section class="example-section">
      <mat-checkbox style="margin-right: 10px">Checked</mat-checkbox>
      <mat-checkbox>Indeterminate</mat-checkbox>
    </section>
    <section class="example-section">
      <label>Align:</label>
      <mat-radio-group>
        <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
        <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="example-section">
      <mat-checkbox>Disabled</mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Basic Buttons</h3>
    <mat-divider></mat-divider>
    <div class="button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button routerLink=".">Link</a>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Raised Buttons</h3>
    <mat-divider></mat-divider>
    <div class="button-row">
      <button mat-raised-button matBadge="8" matBadgePosition="after" matBadgeColor="accent">Basic</button>
      <button mat-raised-button color="primary" matTooltip="Info about the action">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button matBadge="8" matBadgePosition="before" matBadgeColor="primary" color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Icon Buttons</h3>
    <mat-divider></mat-divider>
    <div class="button-row">
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Fab Buttons</h3>
    <mat-divider></mat-divider>
    <div class="button-row">
      <button mat-fab>Basic</button>
      <button mat-fab color="primary">Primary</button>
      <button mat-fab color="accent">Accent</button>
      <button mat-fab color="warn">Warn</button>
      <button mat-fab disabled>Disabled</button>
      <button mat-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a mat-fab routerLink=".">Link</a>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Mini Fab Buttons</h3>
    <mat-divider></mat-divider>
    <div class="button-row">
      <button mat-mini-fab>Basic</button>
      <button mat-mini-fab color="primary">Primary</button>
      <button mat-mini-fab color="accent">Accent</button>
      <button mat-mini-fab color="warn">Warn</button>
      <button mat-mini-fab disabled>Disabled</button>
      <button mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a mat-mini-fab routerLink=".">Link</a>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Inputs</h3>
    <mat-divider></mat-divider>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Tabs</h3>
    <mat-divider></mat-divider>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          The
          <em> best </em> pasta
        </ng-template>
        <h1>Best pasta restaurants</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>thumb_down</mat-icon> The worst sushi
        </ng-template>
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Forms</h3>
    <mat-divider></mat-divider>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Standard form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Amount" type="number" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Selector</h3>
    <mat-divider></mat-divider>
    <form>
      <mat-form-field>
        <mat-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p> Selected value: {{selectedValue}} </p>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Sliders</h3>
    <mat-divider></mat-divider>
    <mat-slider></mat-slider>
    <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
    <mat-slide-toggle>Slide me!</mat-slide-toggle>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Accordion</h3>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Lists</h3>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Toggle button</h3>
    <mat-divider></mat-divider>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Chips</h3>
    <mat-divider></mat-divider>
    <mat-chip-list>
      <mat-chip>Papadum</mat-chip>
      <mat-chip color="primary" selected>Naan</mat-chip>
      <mat-chip color="accent" selected>Dal</mat-chip>
      <mat-chip color="accent" disabled>Dal</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Progress spinner</h3>
    <mat-divider></mat-divider>
    <mat-spinner></mat-spinner>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3>Tables</h3>
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>