.container-style {
    /*This margin is for the navbar space so it doesnt collides with the content*/
    margin-top: 65px; 
    width: 100%;
}
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
.toolbar-style {
  top: 0;
  position: fixed;
  z-index: 999;
  margin: 0;
}